@import "./reset.css";

.hidden {
  display: none;
}

body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#weather {
  align-self: flex-end;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 160px;
}

#clock {
  position: absolute;
  top: 250px;
  font-size: 160px;
  font-weight: 500;
}

#login-form,
#greeting {
  position: absolute;
  top: 440px;
}

#login-form-input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 60px;
  text-align: center;
  border-bottom: 5px solid white;
}

#login-form-input:focus,
#todo-form-input:focus {
  outline: none;
}

#login-form-input::placeholder,
#todo-form-input::placeholder {
  color: white;
}

#greeting {
  background-color: transparent;
  border: none;
  font-size: 60px;
  text-align: center;
}

#todo-form {
  position: absolute;
  top: 550px;
}

#todo-form-input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  text-align: center;
  border-bottom: 3px solid white;
}

#todo-list {
  position: absolute;
  top: 600px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#todo-list li span {
  font-size: 40px;
}

#todo-list li button {
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

#quote {
  position: absolute;
  top: 150px;
  font-size: 20px;
}
