.grid {
  color: white;
  display: grid;
  gap: 5px;
  grid-template-columns: min-content max-content;
  grid-auto-rows: 100px;
  margin-bottom: 30px;
}

.item:nth-child(odd) {
  background-color: yellowgreen;
}

.item:nth-child(even) {
  background-color: turquoise;
}
