.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: [first-line] 100px [second-line] 100px [third-line] 100px [fourth-line] 100px [fifth-line] 100px;
  grid-template-rows: repeat(4, 100px [special-line]);
}

.header {
  background-color: teal;
  grid-column: span 4;
}

.content {
  background-color: tomato;
  grid-column: first-line / fourth-line;
  grid-row: special-line 1 / special-line 3;
}

.nav {
  background-color: violet;
  grid-column: 4 / 5;
  grid-row: span 2;
}

.footer {
  background-color: yellowgreen;
  grid-column: span 4;
}
