h2 {
  color: blue;
}

.boxModel {
  border: 5px solid red;
  display: inline-block;
  padding: 5px 20px;
  margin: 0px 20px;
  width: 33px;
  height: 55px;
}

p {
  font-size: 20px;
}

span {
  font-size: 2rem;
}
